<h4>Sign In</h4>

<%= form_for @user, url: sign_in_users_path do |f| %>
  <%= f.label :email %>:
  <%= f.text_field :email %>
  <br>
  <%= f.label :password %>:
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Sign In" %>
<% end %>



<h4>Sign Up</h4>

<%= form_for @user do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>:
  <%= f.text_field :email %>
  <br>
  <%= f.label :password %>:
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>:
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.submit %>
<% end %>